* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1280px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a, button {
  background: transparent;
  color: #000;
  text-decoration: none;
}

img {
  max-width: 100%;
}